/* Reset e box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(246, 245, 243);
  font-family: "Montserrat", sans-serif;
}

/* Navbar e footer */
.container-nav,
.container-footer {
  height: 10vh;
}

/* footer */
.container-footer{
  color: white;
  background-color: rgb(124, 105, 164);
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.cnt-ft-left{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cnt-ft-left span{
  padding-bottom: 5px;
}

.cnt-ft-right ul{
  display: flex;
}

.cnt-ft-right li{
  padding-left: 5px;
  padding-right: 15px;
  font-size: 12px;
}

.cnt-ft-right a {
  color: white;

}

/* navbar */
.container-nav{
  background-color: white;
}

.container-nav h1{
  font-family: "Nerko One", cursive;
  text-align: start;
  padding-left: 10px;
  line-height: 70px;
  color: orange;
  text-shadow: 5px 5px 5px 9px black;
}

.cnt-title-main span{
  font-size: 15px;
  color: grey;
}

.cnt-title-main h1{
  color: rgb(109, 92, 147);
}
.container-main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.left-column img{
  width: 100%;
  height: auto;
  display: block;
}

.cnt-cont-right{
  display: flex;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.cnt-bg-right {
  width: 100%;
  padding-left: 30px;
  height: 100%;
  background-color: white;
  flex-grow: 1;
}


.cnt-social{
  width: 100%;
}

.cnt-bg-right h3{
  margin-top: 30px;
  margin-bottom: 40px;
}

li{
  list-style: none;
  padding-top: 20px;
}

ul li span{
  font-weight: 600;
}

/* sezione bottoni social media */

.cnt-bg-bottom{
  background-color: aquamarine;
}

.cnt-social {
  width: calc(50% + 20%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

/* Varie icone */
.fb-icon::before {
  content: "\f09a";
  font-family: "Font Awesome 6 Brands";
  font-weight: normal;
  margin-right: 8px;
  color: blue;
}

.tw-icon::before {
  content: "\f099";
  font-family: "Font Awesome 6 Brands";
  font-weight: normal;
  margin-right: 8px;
  color:cyan;
}

.ig-icon::before {
  content: "\f16d"; 
  font-family: "Font Awesome 6 Brands";
  font-weight: normal;
  margin-right: 8px;
  color: red;
}

.pint-icon::before {
  content: "\f0d2";
  font-family: "Font Awesome 6 Brands";
  font-weight: normal;
  margin-right: 8px;
  color: red;
}

.ytb-icon::before {
  content: "\f167"; /* YouTube */
  font-family: "Font Awesome 6 Brands";
  font-weight: normal;
  margin-right: 8px;
  color: red;
}

/* STYLING BOTTONI */
.btn-bg{
  background-color: white;
  border: none;
  padding: 5px 45px;
  border-radius: 10px;
}

.cnt-banner{
  display: flex;
  justify-content: center;
}

.cnt-banner img{
  width: calc(50% + 20%);
}

  /* SEZIONE STORIA DEL PIATTO */
  .cnt-stry-plate{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .cnt-stry-plate h4{
    width: calc(50% + 20%);
    font-weight: 400;
    font-size: 30px;
  }

  #divider{
    border-bottom: 2px solid orange;
  }
 
  .container-stry-plate{
    margin: 0 auto;
    width: calc(50% + 20%);
  }

  .container-stry-plate p{
    line-height: 36px;
  }

  .container-stry-plate img{
    width: 30%;
    float: left;
    padding-right: 10px;
  }


/* RESPONSIVE DESIGN PER TABLET */

 @media screen and (max-width: 1020px){

  /* PRIMA SEZIONE DELLA PAGINA CON RICETTA */
  .container-nav h1{
    text-align: start;
    padding-left: 10px;
  }

  .container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-nav{
    margin-bottom: 50px;
  }

  .left-column{
    width: 80%;
  }

  .cnt-cont-right{
    width: 80%;
  }

  .cnt-bg-right {
    padding-bottom: 41px;
  }
  
  .cnt-bg-right ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .cnt-bg-right h3{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  li{
    padding-top: 4px;
  }

  .cnt-social .btn-bg{
    font-size: 0px;
  }
  .btn-bg{
    padding: 10px 56px;
    border-radius: 30px;
  }

  .cnt-social{
    display: flex;
    justify-content:center;
  }

  .cnt-social .btn-bg::before {
    font-size: 20px;
  }

  .cnt-banner img{
    width: 80%;
  }

  .cnt-stry-plate h4{
    width: 80%;
  }

  .container-stry-plate{
    width: 80%;
  }

  /* FINE PRIMA SEZIONE PAGINA CON RICETTA */

  /* footer */
  .cnt-ft-right{
    line-height: 40px;
  }


} 









/* RESPONSIVE SMARTHPHONE */
@media screen and (max-width: 680px){

    /* PRIMA SEZIONE DELLA PAGINA CON RICETTA */
    .container-nav h1{
      text-align: center;
      font-size: 60px;
    }
  
    .container-main{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .container-nav{
      margin-bottom: 30px;
    }
  
    .left-column{
      width: 90%;
    }
  
    .cnt-cont-right{
      width: 90%;
    }
  
    .cnt-bg-right {
      padding-bottom: 30px;
    }
    
    .cnt-bg-right ul {
      display: inline-block;
    }
    .cnt-bg-right h3{
      margin-top: 40px;
      margin-bottom: 40px;
    }
  
    li{
      padding: 10px 0px;
    }

    .cnt-social .btn-bg{
      font-size: 0px;
      width: calc(90% + 90%);
    }

    .cnt-social{
      display: flex;
      justify-content: center;
      gap: 90px;
    }

    .btn-bg{
      padding-left: 15px;
      padding-right: 8px;
      border-radius: 30px;
    }
  
    .cnt-social .btn-bg::before {
      font-size: 20px;
    }

    .cnt-banner{
      display: none;
    }

    .container-stry-plate{
      width: 90%;
    }

    .container-stry-plate img{
      float: none !important;
      width: 60%;
      display: block;
      margin: 5px auto;
      
    }

    .container-footer{
      flex-direction: column;
      align-items: center;
      height: 25vh;
    }

    .cnt-ft-left{
      padding-top: 30px;
      text-align: center;
    }

    .cnt-ft-right ul {
      flex-wrap: wrap;
      justify-content: center;
    }

    .cnt-ft-right li{
      padding-left: 20px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }

    .cnt-ft-right li:last-child {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }

    .cnt-ft-left span{
      padding-bottom: 2px;
      font-size: 12px;
    }
} 